
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  @font-face {
    font-family: 'Lexend';
    src: url('../../public/assets/Lexend/static/Lexend-Regular.ttf');
    font-weight: 100 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'Lexend2';
    src: url('../../public/assets/Lexend/static/Lexend-ExtraLight.ttf')
  }
 
 
}

 .lexendFontLight{
  font-family: 'Lexend2',sans-serif;
  
} 
.lexendFont{
 font-family: 'Lexend',sans-serif;
}
.bg{
  background-image: url(../../public/assets/PokeBackground.png);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;

}

.overflower{
  overflow-x: scroll;
  height: 40px;
}
.overflower2{
  overflow-y: scroll;
  width: 200px;
}